<app-header></app-header>
<ion-content>
    <ion-grid>
       <ion-row>
           <ion-col size="12">
                <ion-searchbar (keyup.enter)="filterList($event)"></ion-searchbar>
           </ion-col>
       </ion-row>
       <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-list-header *ngIf="isKeyEntered && (resultsLocal | async)?.length > 0">
                        <ion-label>Already reviewd</ion-label>
                    </ion-list-header>
                    <ng-container *ngFor="let result of (resultsLocal | async)">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <img [src]="result?.image_url">
                                </ion-avatar>
                                <ion-label class="ion-text-wrap myLabel">
                                    <ion-text>{{result?.product_name}}</ion-text>
                                    <ion-text color="primary">
                                        <br/>{{result.brand}}
                                    </ion-text>
                                </ion-label>
                                <ion-button fill="clear" shape="round" size="small" [routerLink]="'../detail/' + result.id">
                                    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                                </ion-button>
                            </ion-item>
                    </ng-container> 
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
           <ion-col size="12">
               <ion-list>
                <ion-list-header *ngIf="isKeyEntered">
                    <ion-label>New products add feed</ion-label>
                </ion-list-header>
                  <ng-container *ngFor="let result of (resultsGoogle |async)">
                    <ng-container *ngIf="(result?.pagemap?.cse_thumbnail) && !(result?.htmlTitle.includes('ligne'))">
                        <ion-item>
                            <ion-avatar slot="start">
                                <img [src]="result?.pagemap?.cse_thumbnail[0]?.src">
                            </ion-avatar>
                            <ion-label class="ion-text-wrap myLabel"> 
                                <ion-text [innerHTML]="result?.htmlTitle.split('/b>')[0] + '/b>'"></ion-text>
                                <ion-text color="primary">
                                    <br/>Vendu par {{result.displayLink.split('.')[1]}}
                                </ion-text>
                            </ion-label>
                            <ion-button fill="clear" shape="round" size="small" (click)="openModal(result)">
                                <ion-icon slot="end" name="add"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ng-container>
                  </ng-container> 
               </ion-list>
           </ion-col>
        </ion-row>
    </ion-grid>   
</ion-content>
