<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <ion-icon name="arrow-back-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Comments</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-item *ngFor="let post of posts$ | async">
                        <ion-avatar slot="start">
                            <img *ngIf="post.photoUrl as photoURL; else default" [src]="photoURL"/>
                            <ng-template #default>
                                <img [src]="'assets/images/users/profile_32.png'" />
                              </ng-template>
                        </ion-avatar>
                        <ion-label>
                            <h4>{{post.username}}</h4>
                            <p class="post-text">{{post.body}}</p>
                            <p class="post-text">{{post?.date?.toDate() | dayJS:'fromNow'}}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <app-popover-comment [product]="produit" [user$]="user$"></app-popover-comment>
    </ion-toolbar>
</ion-footer>