ion-list {
  white-space: nowrap;
  overflow-x: scroll;
}
ion-item {
  //overflow-x: scroll;
  width: 100px;
  display: inline-block;
}

ion-avatar {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-right: 0;
  border: 3px solid #fff;
}

ion-label {
  margin-top: 100px;
  font-size: 18px;
  font-weight: 100;
}

p {
  font-size: 11px;
  text-align: center;
  margin: 4px 0px 0px 0px;
  font-weight: 600;
}

.img-wrapper {
  width: 100%;
  height: 100px;
  max-height: 300px;
}

.label {
  margin-top: 16px !important;
  max-width: 170px;
}

.padding-bottom{
  --padding-bottom: 16px!important;
}

.itemQuestion{
  --padding-start:6px;
  min-width: 100% !important;
  width: 100%!important;
  max-width: 100% !important;
  p{
    text-align: left;
    text-transform: capitalize;
  }
}

ion-card{
  height: 200px;  
}

ion-list-header{
  padding-bottom: 0;
  background: var(--ion-color-new);
  vertical-align: center;
  height: 20px;
}

.questionDate{
  text-align: left;
  line-height: 1.5em;
}

.questionNbComments{
  text-align: right;
  padding-left: 50px;
  line-height: 1.5em;
}

.icon-inner {
  display: none;
}