<app-header></app-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <ion-list-header class="ion-no-margin">
          <ion-label class="labelGeo">Professionels nearby</ion-label>
          <app-geolocate (locationEmitternew)="getTown($event)" (initEmitter)="initGeoLocation($event)"></app-geolocate>
        </ion-list-header>
        <ion-list class="ion-padding-bottom">
          <ion-item *ngFor="let proUser of ((nearbyClicked?proUsersNearBy$:proUsers$) | async)" lines="none" class="ion-text-center ion-no-padding" (click)="onClick(proUser.uid)">
            <ion-avatar slot="start">
              <img [src]="proUser.photoUrl" />
            </ion-avatar>
            <ion-label class="ion-padding-top">
              <p>{{proUser.username}}</p>
              <p>{{proUser.categoryId | category | async}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-padding-bottom">
      <ion-col size="12">
        <ion-button color="primary" routerLink="question" fill="outline">
          Ask for recommendation
        </ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let tag of tags">
      <ng-container *ngIf="(questions$ | async | filterByTag: tag)?.length > 0">
        <ion-list-header class="ion-no-margin">
          <ion-label class="label ion-text-capitalize">{{tag}}</ion-label>
          <ion-button color="light" size="small"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon>See All</ion-button>
        </ion-list-header>
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col *ngFor="let question of (questions$ | async | filterByTag: tag)" size="6">
            <ion-card class="ion-no-padding">
              <ion-card-content class="ion-no-padding">
                <img class="img-wrapper" [src]="question?.photosURL[0]">
                <ion-item lines="none" class="ion-no-padding itemQuestion">
                  <div class="ion-text-start">
                    <ion-text class="ion-padding-bottom"><h4><b>{{question?.text}}</b></h4></ion-text>
                    <ion-text class="ion-padding-bottom" color="primary">
                      <p><b>{{question?.uid | username | async}}</b></p>
                    </ion-text>
                    <ion-text>
                      <ion-text color="medium" class="questionDate">
                        <p>{{question?.date.toDate() | dayJS : 'fromNow'}}
                          <span class="questionNbComments"><ion-icon name="chatbubble-outline"></ion-icon>nb</span></p>
                      </ion-text>
                    </ion-text>
                  </div>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-container>
  </ion-grid>
</ion-content>
