/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */



.custom-popover .popover-content {
    width: 100%;
    top: 500px!important;
    left: -1px!important;
    bottom: 0px;
  }

  :root {
    --ion-color-new: #f51987;
    --ion-color-new-rgb: 245,25,135;
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255,255,255;
    --ion-color-new-shade: #d81677;
    --ion-color-new-tint: #f63093;
  }