/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */



.custom-popover .popover-content {
    width: 100%;
    top: 500px!important;
    left: -1px!important;
    bottom: 0px;
  }

  :root {
    --ion-color-new: #f51987;
    --ion-color-new-rgb: 245,25,135;
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255,255,255;
    --ion-color-new-shade: #d81677;
    --ion-color-new-tint: #f63093;
  }
  .ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
  }

  
  ion-toolbar h1 {
    text-align: left;
    font-size: 20px!important;
    font-weight: 700;
    color: #1e2023!important;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }