<ion-content [fullscreen]="true">
    <ion-item lines="none">
     <ion-label>
       <h3><strong>{{(user$ | async)?.username}} </strong> <ion-icon name="chevron-down-outline"></ion-icon></h3>
     </ion-label>
     <div id="main">
       <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
       </ion-buttons>
     </div>
   </ion-item>
   <ion-content [fullscreen]="true">
   <ion-grid>
     <ion-row>
       <ion-col size="4">
         <div class="profile-avatar">
            <img *ngIf="(user$ | async)?.photoUrl as photoURL; else default" [src]="photoURL" />
            <ng-template #default>
              <img src="assets/images/users/profile_32.png" />
            </ng-template>
           <ion-icon color="primary" name="add-circle"></ion-icon>
         </div>
       </ion-col>
       <ion-col size="8" class="ion-align-self-center">
           <ion-row>
             <ion-col size="4" class="data-box">
               <strong>
                 nb 
               </strong>
               <p>Reviews</p>
             </ion-col>
             <ion-col size="4" class="data-box">
               <strong>
                 nb
               </strong>
               <p>favs</p>
             </ion-col>
             <ion-col size="4" class="data-box">
               <strong>
                 nb
               </strong>
               <p>Following Pros</p>
             </ion-col>
           </ion-row>
       </ion-col>
     </ion-row>
     <ion-row class="sec-row">
       <ion-col size="6">
         <p class="status">
           <strong class="name">{{(user$ | async)?.firstName}} {{(user$ | async)?.lasttName}}</strong> <br>
         </p>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12">
         <ion-button class="btn-edit" expand="full" color="light">Edit Profile</ion-button>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-item-divider>
       </ion-item-divider>
       <ion-col size="12">
         <ion-segment color="medium" [(ngModel)]="openedSegment" (ionChange)="segmentChanged($event)">
           <ion-segment-button value="grid">
             <ion-icon name="grid-outline"></ion-icon>
           </ion-segment-button>
           <ion-segment-button value="heart">
             <ion-icon name="heart-outline"></ion-icon>
           </ion-segment-button>
           <ion-segment-button value="tags">
             <ion-icon name="person-circle-outline"></ion-icon>
           </ion-segment-button>
         </ion-segment>
         <div [ngSwitch]="openedSegment">
           <div *ngSwitchCase="'grid'">
             <div class="grid">
                <div class="img_box" *ngFor="let product of favProducsList|async" [style]="'background-image: url('+product.image_url+');'">
                </div>
                </div>
           </div>
           <div *ngSwitchCase="'heart'">
             <div class="grid">
               likes
            </div>
           </div>
           <div *ngSwitchDefault>
             pros
           </div>
         </div>
       </ion-col>
     </ion-row>
   </ion-grid>
   </ion-content>
   <ion-menu side="end" menuId="first" contentId="main" class="my-custom-menu">
     <ion-header>
       <ion-toolbar>
         <ion-title>Username</ion-title>
       </ion-toolbar>
     </ion-header>
     <ion-content>
       <ion-list>
         <ion-item>
           <ion-icon name="person-add-outline"></ion-icon>
           &nbsp; Pro account
         </ion-item>
           <ion-item>
           <ion-icon name="cog-outline"></ion-icon>
           &nbsp; Settings</ion-item>
         
       </ion-list>
     </ion-content>
   </ion-menu>
   </ion-content>
<!--
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="presentActionSheet()">
                <ion-icon slot="start" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="ion-text-center grid">
        <img class="img_box" src="../../../assets/icons/profilFemal.svg">
        <ion-title>Username</ion-title>
    </div>
    
</ion-header>
<ion-content>  
    <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="12" class="ion-no-padding ion-no-margin">
                <ion-button fill="clear" shape="round" size="small">
                    <ion-icon  name="add-outline" slot="start"></ion-icon>
                    <ion-label>New collection</ion-label>
                </ion-button>
                <ion-button class="allProducts" fill="clear" shape="round" size="small">
                    <ion-label>All products</ion-label>
                </ion-button> 
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="12" class="ion-no-padding ion-no-margin">
                <ion-item class="ion-no-margin" lines="none">
                    <ion-icon slot="start" name="folder-outline"></ion-icon>
                    <ion-label><h4>Favorites</h4></ion-label>
                    <ion-button class="collection" fill="clear" shape="round">
                        <ion-icon slot="end" name="more"></ion-icon>
                    </ion-button>
                </ion-item> 
                <ion-item class="ion-no-margin" lines="none">
                    <ion-icon slot="start" name="folder-outline"></ion-icon>
                    <ion-label><h4>Wishlist</h4></ion-label>
                    <ion-button class="collection" fill="clear" shape="round">
                        <ion-icon slot="end" name="more"></ion-icon>
                    </ion-button>
                </ion-item>  
            </ion-col>
        </ion-row>
        
    </ion-grid>
</ion-content>
-->