<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-label>
      <h3><strong>{{(user$ | async)?.username}} </strong>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </h3>
    </ion-label>
    <div id="main">
      <ion-buttons slot="start">
        <ion-button (click)="presentActionSheet()">
          <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
      </ion-buttons>
    </div>
  </ion-item>
    <ion-grid>
      <ion-row class="ion-padding-top">
        <ion-col size="4">
          <div class="profile-avatar">
            <img *ngIf="!!photoUrl" [src]="photoUrl"/>
          </div>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <ion-row>
            <ion-col size="4" class="data-box">
              <strong>
                {{likes$ | async}}
              </strong>
              <p>Likes</p>
            </ion-col>
            <ion-col size="4" class="data-box">
              <strong>
                {{favs$ | async}}
              </strong>
              <p>favs</p>
            </ion-col>
            <ion-col size="4" class="data-box">
              <strong>
                {{nbFollowings$ | async}}
              </strong>
              <p>Following Pros</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="sec-row">
        <ion-col size="6" class="ion-margin-left">
          <p class="status">
            <strong class="name">{{(user$ | async)?.firstName}} {{(user$ | async)?.lastName}}</strong> <br>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button routerLink="edit" class="btn-edit" expand="full" color="light">Edit Profile</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col size="12">
          <ion-segment color="medium" [(ngModel)]="openedSegment" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="grid">
              <ion-icon name="grid-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="heart">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="tags">
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-segment-button>
          </ion-segment>
          <div [ngSwitch]="openedSegment" class="ion-padding-top">
            <div *ngSwitchCase="'grid'">
              <div class="grid">
                <div class="img_box" *ngFor="let product of favProducsList$|async"
                  [style]="'background-image: url('+product?.image_url+');'"
                  [routerLink]="'../detail/'+product?.id">
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'heart'">
              <div class="grid">
                <div class="img_box" *ngFor="let product of likedProducsList$|async"
                  [style]="'background-image: url('+product?.image_url+');'"
                  [routerLink]="'../detail/'+product?.id">
                </div>
              </div>
            </div>
            <div *ngSwitchDefault>
              <ion-item *ngFor="let pro of (followingList | async)" [routerLink]="'pro/' + pro?.uid">
                <ion-avatar slot="start">
                  <img [src]="pro?.photoUrl"/>
                </ion-avatar>
                <ion-label><h3>{{pro?.username}}</h3><p>{{pro?.categoryId | category | async}}</p></ion-label>
              </ion-item>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
