<ion-header>
  <ion-toolbar>
    <ion-title>{{(proUser$ | async)?.username}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="">
    <ion-row class="cover">
      <ion-col size="4">
        <div class="profile-avatar">
          <img *ngIf="(proUser$ | async)?.photoUrl as photo; else default" [src]="photo" />
          <ng-template #default>
            <img src="./assets/images/users/profile_32.png">
          </ng-template>
        </div>
      </ion-col>
      <ion-col size="8" class="ion-align-self-center">
        <ion-row>
          <ion-col size="4" class="data-box">
            <strong>
              {{(nbFollowers$ | async)}}
            </strong>
            <p>followers</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="sec-row cover">
      <ion-col size="6">
        <p class="status">
          <strong class="name">{{(proUser$ | async)?.firstName}} {{(proUser$ | async)?.lastName}} </strong> <br>
        </p>
        <p class="status">
          <ion-icon color="medium" name="card-outline"></ion-icon>
          <strong class="name"> {{(proUser$ | async)?.categoryId | category | async}} </strong> <br>
        </p>
        <p class="status">
          <ion-icon color="medium" name="at-outline"></ion-icon>
          <strong class="name"> {{(proUser$ | async)?.email}} </strong> <br>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
         <ion-button *ngIf="!(isFollower$ | async); else disable" (click)="follow()" class="btn-edit" fill="solid"
            color="new" size="default">Follow</ion-button>
          <ng-template #disable>
            <ion-button (click)="presentActionFollow()" color="medium">Subscribed
              <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ng-template>
        <ion-button class="btn-edit" fill="outline" color="new">Message</ion-button>
        <ion-button (click)="presentActionContact()" class="btn-edit" fill="outline" color="new">Contact</ion-button>
      </ion-col>
    </ion-row>
    <ion-item-divider class="ion-no-padding">
      <ion-label class="ion-text-center">
        <ion-text>Gallery</ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-row class="ion-no-padding">
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10]">
        <div class="img-wrapper" [style.background-image]="'url(assets/images/pro/' + image + '.jpg)'">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
